<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head') %>
  <body>
    <%- include('includes/username') %>
    <%- include('includes/backdrop-overlay') %>
    <section>
      <%- include('includes/calculator') %>
      <%- include('includes/history') %>
    </section>
  </body>
</html>
